@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-show {
  box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.75);
}

body {
  font-family: "Vazirmatn", sans-serif;
}
.rounded-xl {
  border-radius: 10px;
}
.h-120 {
  height: 445px;
}

/* در فایل globals.css اضافه کنید */
.page-enter {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.page-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.page-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.page-exit-active {
  transform: translateY(100%);
  opacity: 0;
}


@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
